.preloader{
	position: fixed;
	inset: 0;
	background-image: url('coffee-coffee-cup.gif');
    background-position: center;
	background-repeat: no-repeat;
	background-size: 40%;
	background-color: #f9f1c9;
	z-index: 100;
}

.hidden{
	display: none;
}

.loading{
	overflow: hidden;
}